

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Shop now all our costumes</h1>
 </div>
  </div>




  <ul class="list-group">
  <% @costumes.each do |costume| %>
    <li class="list-group-item"><%= costume.id%><%=link_to costume.name, costume_path(costume) %></li>
  <% end %>
  </ul>
  </div>
</div>


<p><%=link_to name="add a new costume", new_costume_path, class: "btn btn-primary" %></p>
