<%= render "pages/navbar"%>
<div class="container pt-5">
  <div class="row justify-content-center">
    <h2 class="text-center">Add new 'Stume!</h2>
      <%= render "form", costume: @costume %>
  </div>
</div>
<%= render "pages/footer"%>
