<div class="container pt-5">
  <div class="row justify-content-center">
    <h2 class="text-center" style="font-family: Mr Dafoe; text-align: center; padding-top: 10px; font-size: 50px">Rent your <strong>S'tume!</strong></h2>
      <%= render "form", costume: @costume %>
  </div>
</div>
