
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= image_tag 'banner.jpg' %>;">
  <div class="container">
    <h1>Book your favourite <strong>'Stumes</strong> to <strong>stand out</strong> at all your parties!</h1>
    <p>Discover all the varietes of costumes we have.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
</div>
