<div class="banner">
  <div class="container">
    <h1>Book your favourite <strong>'STUMES</strong> to <strong>stand out</strong> at all your parties!</h1>
    <p>Discover all the varietes of costumes we have</p>
    <div class="container d-flex justify-content-center">
     <%= link_to "SHOP NOW", costumes_path, class: "btn btn-danger banner-buttons" %>
    </div>
  </div>
</div>
