
<div class="banner">
  <div class="container">
    <h1>Book your favourite <strong>'Stumes</strong> to <strong>stand out</strong> at all your parties!</h1>
    <p>Discover all the varietes of costumes we have.</p>
  </div>
</div>
</div>
