
<div class="banner">
  <div class="container">
    <h1>Book your favourite <strong>'Stumes</strong> to <strong>stand out</strong> at all your parties!</h1>
    <p>Discover all the varietes of costumes we have.</p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>
</div>
<div class="container d-flex justify-content-center">
<%= link_to "Start now!", costumes_path, class: "btn btn-flat btn-success" %>
</div>
