.index-buttons {
color:  #ffffff;
font-size: large;
font-weight : bold ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

.index-buttons:hover {
  color: rgb(41, 22, 146)
}
