.index-buttons {
color:  gold;
font-size: 23px;
font-weight : bold ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: none;
}

.index-buttons:hover {
  color: whitesmoke;
  font-size: 27px;
}

.banner-buttons {
  background-color: rgb(37, 87, 223);
  padding: 15px 23px;
  color:  white;
  text-decoration: none;
  border-radius: 17px;
  margin-top: 20px;
  box-shadow: 0.9px 0.9px 1.1px rgb(245, 53, 101);
  opacity: 0.7;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.banner-buttons:hover {
  background-color: gold;
  color:rgb(245, 53, 101);
  opacity: 1;
}
