.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon {
 background-color: #D0FEF5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  box-shadow: 0.8px 0.8px 1px rgb(245, 53, 101);
  border-radius: 6px;
}


.navbar-collapse {
  display: flex;
  justify-content: end;
}

.navbar-lewagon .navbar-collapse:hover {
  background-color: gold;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.thetwobuttons {
  display: contents;
}

.nav-link {
  color: grey;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}
